<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Robert DeLuca - Front End Developer</title>
    <!-- FaceBook -->
    <meta property="og:title" content="Robert DeLuca Front End Developer" />
    <meta property="og:site_name" content="Robert DeLuca" />
    <meta property="og:description" content="Robert DeLuca is a Front End Web Developer.
        He is the creator of the responsive grid Thumper &amp; DropKick.js co-creator." />
    <!-- Normal meta -->
    <meta name="title" content="Robert DeLuca Front End Developer" />
    <meta name="description" content="Robert DeLuca is a Front End Web Developer.
      He is the creator of the responsive grid Thumper &amp; DropKick.js co-creator." />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />
<meta name="front-end/config/environment" content="%7B%22modulePrefix%22%3A%22front-end%22%2C%22environment%22%3A%22production%22%2C%22baseURL%22%3A%22/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%7D%2C%22simple-auth%22%3A%7B%22authenticationRoute%22%3A%22login%22%2C%22authorizer%22%3A%22simple-auth-authorizer%3Adevise%22%2C%22store%22%3A%22simple-auth-session-store%3Alocal-storage%22%7D%2C%22APP%22%3A%7B%22name%22%3A%22front-end%22%2C%22version%22%3A%220.0.0.34cd9e58%22%7D%2C%22googleAnalytics%22%3A%7B%22webPropertyId%22%3A%22UA-40802317-1%22%7D%2C%22flashMessageDefaults%22%3A%7B%22timeout%22%3A3000%2C%22priority%22%3A100%2C%22sticky%22%3Afalse%2C%22showProgress%22%3Afalse%2C%22type%22%3A%22info%22%2C%22types%22%3A%5B%22success%22%2C%22info%22%2C%22warning%22%2C%22danger%22%2C%22alert%22%2C%22secondary%22%5D%2C%22injectionFactories%22%3A%5B%22route%22%2C%22controller%22%2C%22view%22%2C%22component%22%5D%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-40802317-1', 'auto');
</script>
    <link rel="stylesheet" href="ember-assets/vendor-88f3f868fdecde325aeff30a35dc4098.css">
    <link rel="stylesheet" href="ember-assets/front-end-ac74e39917564cfaeaee2440c85e09ea.css">
    
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %></head>
  <body>    <%= yield %>
    
    <script src="ember-assets/vendor-20f85ccc934b4dca7b2e7e8c392254fb.js"></script>
    <script src="ember-assets/front-end-424f181fe99a6eb152299e9a5a181849.js"></script>
    
  </body>
</html>
