<div class="main-container">
  {{#if session.isAuthenticated}}
    <nav class="admin-bar">
      <ul>
        <li>{{#link-to "dashboard"}}Dashboard{{/link-to}}</li>
        <li>{{#link-to "posts.new"}}New post{{/link-to}}</li>
        <li>{{#link-to "about.new"}}New about{{/link-to}}</li>
        <li>{{#link-to "analytics"}}Analytics{{/link-to}}</li>
        <li><a {{action 'invalidateSession'}} href="#">Logout</a></li>
      </ul>
    </nav>
  {{/if}}
  <nav>
    <ul>
      <li>{{#link-to "posts"}}Blog{{/link-to}}</li>
      <li>{{#link-to "about"}}About{{/link-to}}</li>
      <li>{{#link-to "portfolio"}}Portfolio{{/link-to}}</li>
      <li>{{#link-to "contact"}}Contact{{/link-to}}</li>
    </ul>
  </nav>
  {{#unless session.isAuthenticated}}
    <section class="hero">
      <header>
        <h1>Hi, I'm Robert.</h1>
        <p>And I create online awesome.</p>
      </header>
    </section>
  {{/unless}}
  <div class="inner-container">
    {{#each flash in flashes.queue}}
      {{flash-message flash=flash}}
    {{/each}}
    {{outlet}}
  </div>
  <footer>
    <div class="footer-content">
      <p>&copy; {{format-copyrightdate}} - <a href="https://github.com/Robdel12">Check out my Github</a></p>
    </div>
  </footer>
</div>
