<h1>Contact</h1>
<form action="**put the ember thing remote form here**" class="contact-form">
  <label for="name">Name:</label>
  <input type="text" placeholder="Name" id="name">

  <label for="email">Email:</label>
  <input type="text" placeholder="Email address" id="email">

  <label for="reason_for_contact">Reason for contact:</label>
  <input type="text" placeholder="Reason for contact" id="reason_for_contact">

  <label for="comments">Comments:</label>
  <textarea name="comments" id="comments"></textarea>
</form>
