<h1>Contact</h1>
<form accept-charset="UTF-8" action="https://formkeep.com/f/cb37014a61c8" method="POST" class="contact-form">
  <input type="hidden" name="utf8" value="✓">

  <label for="name">Name:</label>
  <input type="text" name="name" placeholder="Name" id="name">

  <label for="email">Email:</label>
  <input type="text" name="email" placeholder="Email address" id="email">

  <label for="reason_for_contact">Reason for contact:</label>
  <input type="text" name="reason" placeholder="Reason for contact" id="reason_for_contact">

  <label for="comments">Comments:</label>
  <textarea name="comments" name="comments" id="comments"></textarea>

  <button type="submit">Submit</button>
</form>
