<h2>Drafts</h2>
{{#each}}
  {{#if is_published}}
    {{! I hate this }}
  {{else}}
    <div class="dashboard-posts-list">
      <h3 class="posts-title">{{link-to title 'posts.edit' this}}</h3>
    </div>
  {{/if}}
{{/each}}

<h2>Published</h2>
{{#each}}
  {{#if is_published}}
    <div class="dashboard-posts-list">
      <h3 class="posts-title">{{link-to title 'posts.edit' this}}</h3>
    </div>
  {{/if}}
{{/each}}
