{{head-title "Portfolio"}}
<h1>Portfolio</h1>
<div class="portfolio-gird">
  <div class="one-third port-grid">
    <div class="imgcontain">
      <img src="https://s3.amazonaws.com/robert-blog-assets/portfolio/izea.jpg" alt="IZEA website project" />
      <div class="hoverdiv">
        <p>Ruby On Rails App</p>
      </div><!-- End Hover Div -->
    </div><!-- End img Contain -->
    <h2><a href="http://izea.com">IZEA.com</a></h2>
  </div><!-- End One Third -->
  <div class="one-third port-grid">
    <div class="imgcontain">
      <img src="https://s3.amazonaws.com/robert-blog-assets/portfolio/aspg.jpg" alt="Advanced Software Products Groups webstite" />
      <div class="hoverdiv">
        <p>Wordpress</p>
      </div><!-- End Hover Div -->
    </div><!-- End img Contain -->
    <h2><a href="http://aspg.com">ASPG</a></h2>
  </div><!-- End One Third -->
  <div class="one-third port-grid last">
    <div class="imgcontain">
      <img src="https://s3.amazonaws.com/robert-blog-assets/portfolio/goldberg.jpg" alt="Goldberg Laws website" />
      <div class="hoverdiv">
        <p>Wordpress</p>
      </div><!-- End Hover Div -->
    </div><!-- End img Contain -->
    <h2><a href="http://www.goldberg-law.com/">Goldberg Law</a></h2>
  </div><!-- End One Third -->
</div>
<div class="portfolio-gird">
  <div class="one-third port-grid">
    <div class="imgcontain">
      <img src="https://s3.amazonaws.com/robert-blog-assets/portfolio/srma.jpg" alt="South West Florida Regional Manufactures Associations website" />
      <div class="hoverdiv">
        <p>Wordpress</p>
      </div><!-- End Hover Div -->
    </div><!-- End img Contain -->
    <h2><a href="http://srma.net">SRMA</a></h2>
  </div><!-- End One Third -->
  <div class="one-third port-grid">
    <div class="imgcontain">
      <img src="https://s3.amazonaws.com/robert-blog-assets/portfolio/summit.jpg" alt="Summit Churches website" />
      <div class="hoverdiv">
        <p>Wordpress</p>
      </div><!-- End Hover Div -->
    </div><!-- End img Contain -->
    <h2><a href="http://summitlife.com">Summit Church</a></h2>
  </div><!-- End One Third -->
  <div class="one-third port-grid last">
    <div class="imgcontain">
      <img src="https://s3.amazonaws.com/robert-blog-assets/portfolio/physiofit.jpg" alt="Physio Fit Coachings website" />
      <div class="hoverdiv">
        <p>Wordpress</p>
      </div><!-- End Hover Div -->
    </div><!-- End img Contain -->
    <h2><a href="http://physiofitcoaching.com">PhysioFit</a></h2>
  </div><!-- End One Third -->
</div>
<div class="portfolio-gird">
  <div class="one-third port-grid">
    <div class="imgcontain">
      <img src="https://s3.amazonaws.com/robert-blog-assets/portfolio/moh.jpg" alt="Mission Of Hope Haitis website" />
      <div class="hoverdiv">
        <p>Ruby On Rails App</p>
      </div><!-- End Hover Div -->
    </div><!-- End img Contain -->
    <h2><a href="http://mohhaiti.org">Mission Of Hope Haiti</a></h2>
  </div><!-- End One Third -->
  <div class="one-third port-grid">
    <div class="imgcontain">
      <img src="https://s3.amazonaws.com/robert-blog-assets/portfolio/threetwelve.jpg" alt="ThreeTwelve Creatives website" />
      <div class="hoverdiv">
        <p>Hubspot</p>
      </div><!-- End Hover Div -->
    </div><!-- End img Contain -->
    <h2><a href="http://threetwelvecreative.com">ThreeTwelve Creative</a></h2>
  </div><!-- End One Third -->
  <div class="one-third port-grid last">
    <div class="imgcontain">
      <img src="https://s3.amazonaws.com/robert-blog-assets/portfolio/cocad.jpg" alt="COCAD Haitis website" />
      <div class="hoverdiv">
        <p>Wordpress</p>
      </div><!-- End Hover Div -->
    </div><!-- End img Contain -->
    <h2><a href="http://cocad-haiti.org">COCAD Haiti</a></h2>
  </div><!-- End One Third -->
</div>
<div class="portfolio-gird">
  <div class="one-third port-grid">
    <div class="imgcontain">
      <img src="https://s3.amazonaws.com/robert-blog-assets/portfolio/reflective.jpg" alt="Reflective Traffic Systems website" />
      <div class="hoverdiv">
        <p>Wordpress</p>
      </div><!-- End Hover Div -->
    </div><!-- End img Contain -->
    <h2><a href="http://reflectivetrafficsystems.com">Reflective Traffic Systems</a></h2>
  </div><!-- End One Third -->
  <div class="one-third port-grid last">
    <div class="imgcontain">
      <img src="https://s3.amazonaws.com/robert-blog-assets/portfolio/risingstar.jpg" alt="Rising Star apps website" />
      <div class="hoverdiv">
        <p>Wordpress</p>
      </div><!-- End Hover Div -->
    </div><!-- End img Contain -->
    <h2>Rising Star</h2>
  </div><!-- End One Third -->
  <div class="one-third port-grid">
    <div class="imgcontain">
      <img src="https://s3.amazonaws.com/robert-blog-assets/portfolio/pegs-list.jpg" alt="Name of site" />
      <div class="hoverdiv">
        <p>Ruby On Rails App</p>
      </div><!-- End Hover Div -->
    </div><!-- End img Contain -->
    <h2><a href="http://www.swflresourcelink.com/">SWFL Resource Link</a></h2>
  </div><!-- End One Third -->
</div>
<div class="portfolio-gird">
  <div class="one-third port-grid">
    <div class="imgcontain">
      <img src="https://s3.amazonaws.com/robert-blog-assets/portfolio/michael-jackson.jpg" alt="Michael Jackson Realtors Website" />
      <div class="hoverdiv">
        <p>Wordpress</p>
      </div><!-- End Hover Div -->
    </div><!-- End img Contain -->
    <h2><a href="http://michaeljacksonflhomes.com">Michael Jackson Realtor</a></h2>
  </div><!-- End One Third -->
  <div class="one-third port-grid">
    <!-- More to come? -->
  </div><!-- End One Third -->
  <div class="one-third port-grid">

  </div><!-- End One Third -->
</div><!-- End Portfolio -->
