<div class="main-container">
  <nav>
    <ul>
      <li>{{#link-to "about"}}About{{/link-to}}</li>
      <li>{{#link-to "posts"}}Blog{{/link-to}}</li>
    </ul>
  </nav>
  <section class="hero">
    <header>
      <h1>Hi, I'm Robert.</h1>
      <p>And I create online awesome.</p>
    </header>
  </section>
  <div class="inner-container">
    {{outlet}}
  </div>
  <footer>
    <div class="footer-content">
      <p>&copy; {{copyrightDate}} - <a href="https://github.com/Robdel12">Check out my Github</a></p>
    </div>
  </footer>
</div>
