// =========================================================== Global ============================================================

$primary_color: #057EA6;

@import "reset"; //Febreze bros, a fresh start.
@import "mixins";

h1, h2, h3, h4, h5{
  @include oswald;
}
body{
 @include opensans;
 h1{
  font-size: 3rem;
  margin: 10px 0;
 }
 h2{
    font-size: 2.5rem;
    margin: 4px 0;
    line-height: 3.5rem;
  }
  h3{
    font-size: 2rem;
    line-height: 2.3rem;
  }
  h4{
    font-size: 1.4rem;
  }
  p{
    line-height: 25px;
    padding: 10px 0;
    &:empty{
      padding: 0;
      line-height: 0;
    }
  }
  a{
    color: $primary_color;
    text-decoration: none;
  }
  img{
    max-width: 100%;
    height: auto;
  }
  blockquote{
    margin: 20px 0 20px 40px;
    border-left: 4px solid #ddd;
    padding-left: 10px;
    font-family: arial, sans-serif;
    color: #5C5C5C;
    p{
      padding: 3px 0;
    }
  }
  input,
  textarea{
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 6px;
  }
  pre{
    overflow-y: hidden;
    overflow-x: scroll;
    color: #333;
    background: #f8f8f8;
    -webkit-text-size-adjust: none;
    padding: 15px;
  }
  code{
    color: #333;
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background: #f8f8f8;
  }
}
.btn{
  background: $primary_color;
  border: 1px solid lighten($primary_color, 14%);
  border-radius: 6px;
  padding: 6px 14px;
  color: white;
  cursor: pointer;
}
.hide{
  display: none;
}
.alert{
  padding: 7px;
  border-radius: 8px;
}
.alert-info{
  background-color: rgba(0, 102, 136, 0.71);
  border: 1px solid #068;
  color: white;
}
.alert-danger{
  background-color: rgba(196, 0, 0, 0.66);
  border: 1px solid rgba(196, 0, 0, 1);
}

// =========================================================== Nav ============================================================
nav{
  padding: 15px 10px;
  background-color: #068;
  text-align: right;
  ul{
    max-width: 1140px;
    margin: 0 auto;
  }
  li{
    @include inline-block;
    margin-left: 3%;
    &:first-child{
      margin-left: 0;
    }
    a{
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      &:hover{
        border-top: 4px solid white;
        transition: border .15s linear;
        -webkit-transition: border .15s linear;
      }
      &.active{
        border-top: 4px solid white;
      }
    }
  }
}
.admin-bar{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.54);
  padding: 11px 0;
  li{
    margin-left: 2%;
    a{
      font-size: 1rem;
      &:hover{
        border-top: 2px solid white;
      }
    }
  }
  a.active{
    border-top: 2px solid white;
  }
}

// =========================================================== Hero ============================================================
.hero{
  background-color: $primary_color;
  text-align: center;
  padding: 60px 0;
  color: white;
  h1{
    font-size: 6rem;
    line-height: 7rem;
  }
  p{
   @include oswald;
    font-size: 2.4rem;
    line-height: 4rem;
  }
}
// =========================================================== Container ============================================================

.inner-container{
  max-width: 1140px;
  margin: 25px auto;
  padding: 0 20px;
}

// =========================================================== Contact ============================================================

.form{
  label{
    display: block;
    margin-bottom: 6px;
    font-weight: 300;
  }
  input{
    margin-bottom: 16px;
  }
  textarea{
    width: 50%;
    height: 150px;
  }
}
.thank-you{
  @include center-x;
  text-align: center;
  border: 1px solid lighten($primary_color, 14%);
  position: absolute;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  top: 25%;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  p{
    margin-bottom: 15px;
  }
  &.modal-closed{
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}
.main-container.modal-backing{
  &:after{
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.76);
    width: 100%;
    height: 100%;
  }
}
.modal-btn{
  display: block;
  margin: 0 auto;
  width: 80px;
}
.honey-pot{
  display: none;
}

@media screen and (max-width: 540px){
  .thank-you{
    width: 90%;
    top: 15%;
  }
}
@media screen and (max-width: 380px){
  .contact-form{
    input{
      width: 75%;
    }
    textarea{
      width: 100%;
    }
  }
}

// =========================================================== Blog Posts ============================================================

.posts-excerpt{
  line-height: 1.9rem;
}
.posts{
  border-bottom: 1px solid #ddd;
  padding: 0px 0 25px 0;
  margin: 0px 0 25px 0;
  @include flex-box; //Woo!
  .blog-left{
    @include flex(1);
    align-self: center;
    .post-date{
      height: 75px;
      width: 75px;
      display: block;
      background-color: $primary_color;
      color: white;
      font-weight: 700;
      border-radius: 60px;
    }
    .inner-date{
      line-height: 74px;
      margin: 0 auto;
      width: 80%;
      display: block;
      text-align: center;
      font-size: 0.8rem;
    }
  }
  .blog-right{
    @include flex(10);
  }
}
.dashboard-posts-list{
  @include flex-box;
  border-bottom: 1px solid #ddd;
  padding: 0px 0 10px 0;
  margin: 0px 0 25px 0;
  .posts-title{
    @include flex(10);
  }
  .dashboatd-date{
    @include flex(1);
    align-self: flex-end;
  }
}
.posts-title,
.posts-date{
  margin-bottom: 7px;
}
.pagination{
  line-height: 35px;
  li{
    display: inline-block;
    cursor: pointer;
    a{
      padding: 3px 6px;
      background-color: $primary_color;
      font-size: 13px;
      border-radius: 4px;
      color: white;
    }
    &.active a{
      background-color: white;
      border: 1px solid $primary_color;
      color: $primary_color;
    }
  }
}


// =========================================================== Blog single post ============================================================

.post{
  max-width: 960px;
  margin: 0 auto;
  h1{
    font-size: 2.9rem;
    line-height: 3.2rem;
    padding-bottom: 10px;
  }
  h3{
    margin: 10px 0;
  }
  ul{
    margin: 4px 0 4px 45px;
    li{
      line-height: 25px;
      padding: 4px 0;
      list-style: disc;
    }
  }
  .post-title{
    width: 100%;
    border-bottom: 1px solid #ddd;
    h1{
      font-size: 3.6rem;
      line-height: 4.5rem;
    }
  }
  .title-sub-heading{
    font-size: 13px;
    font-style: italic;
    color: #6C6C6C;
    margin-bottom: 15px;
  }
}
.post-edit-title{
  font-style: italic;
}
.edit-posts-list{
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  li{
    margin-right: 4px;
    display: inline-block;
    vertical-align: middle;
  }
  a{
    background-color: $primary_color;
    padding: 3px 12px;
    color: white;
    border-radius: 6px;
    font-size: 13px;
  }
}
.comment-wrap{
  margin-top: 50px;
}

//Login
.login-form{
  width: 21%;
  input{
    width: 100%;
  }
  .btn{
    float: right;
  }
}

//new post
.new-post{
  @include flex-box;
}
.new-post-inner{
  @include flex(2);
  margin-right: 2%;
  input,
  textarea{
    width: 100%;
  }
  .btn{
    float: right;
  }
  .dk-select{
    width: 135px;
  }
}
.post-text-area{
  height: 300px;
  font-size: 14px;
}
.preview{
  @include flex(2);
  ul{
    margin: 4px 0 4px 45px;
    li{
      line-height: 25px;
      padding: 4px 0;
      list-style: disc;
    }
  }
  ol{
    margin: 4px 0 4px 45px;
    li{
      padding: 4px 0;
      list-style: decimal;
    }
  }
}

// =========================================================== Timeline ============================================================

.about-page{
  @include flex-box;
  margin: 20px 0;
  .two-sixth{
    @include flex(2);
  }
  .four-sixth{
    @include flex(6);
    margin-left: 30px;
  }
}
.timeline-card{
  padding: 10px 10px 10px 20px;
  background-color: #E5E5E5;
  border-radius: 8px;
  width: 46%;
  margin-bottom: 25px;
  position: relative;
  display: inline-block;
  &:after{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background-color: #00A8FF;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  &:nth-child(odd){
    margin-left: 49%;
    &:after{
      background-color: $primary_color;
    }
  }
  .date{
    font-size: 12px;
    text-align: right;
    display: block;
    font-style: italic;
  }

}
.new-about-inner{
  @include flex(2);
  margin-right: 2%;
  input,
  textarea{
    width: 100%;
  }
  .btn{
    float: right;
  }
}
.timeline{
  @include flex-box;
}
.timeline-preview{
  .timeline-card{
    width: 100%;
    &:nth-child(odd){
      margin-left: 0;
    }
  }
}
.timeline{
  overflow:hidden;
  position:relative;
  margin-bottom:2em;
}
@media screen and (max-width: 650px) {
  h4{
    line-height: 2.3rem;
  }
  .timeline-card{
    width: 100%;
    &:nth-child(odd){
      margin-left: 0;
    }
  }
}

// =========================================================== Projects ============================================================

.portfolio-gird{
  @include flex-box;
  h2{
    font-size: 2rem;
  }
  .one-third{
    @include flex(1);
    margin: 25px 15px;
    &:first-child{
      margin-left: 0;
    }
  }
}
.imgcontain{
  position: relative;
  .hoverdiv{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    p{
      color: #FFF;
      text-align: center;
      margin-top: 20%;
      font-size: 2rem;
      line-height: 2rem;
    }
  }
}

//Dashboard
.dashboard-container{
  @include flex-box;
}
.dashboard-main{
  @include flex(5);
  margin-right: 40px;
}
.dashboard-sidebar{
  @include flex(1);

  h4{
    margin-bottom: 16px;
  }
}
.recent-contact{
  margin: 8px 0 0 0;
  padding: 5px 0;
  border-top: 1px solid #ddd;
  p{
    padding: 0;
  }
}

// =========================================================== Analytics ============================================================

.chart-container{
  position: relative;
  margin-top: 15px;
  min-height: 300px;
  &.loading{
    .c3-chart-component{
      opacity: 0.2;
    }
  }
  .loading-spinner{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 28%;
    left: 50%;
  }
}
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  border: 1px solid $primary_color;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

// =========================================================== Footer ============================================================
footer{
  background-color: $primary_color;
  .footer-content{
    max-width: 1140px;
    margin: 65px auto 0 auto;
    padding: 8px 10px;
    color: white;
    a{
      color: #ddd;
    }
  }
}

// =========================================================== Media Queries ============================================================
@import "media_queries";
