<div class="main-container">
  {{#if session.isAuthenticated}}
    {{#dropdown-menu
       triggerText="<i class='icon icon-menu' aria-hidden='true'></i> <span class='screen-reader'>Admin Options</span>"
       class="admin-dropdown"}}
      <li>{{#link-to "dashboard"}}Dashboard{{/link-to}}</li>
      <li>{{#link-to "posts.new"}}New post{{/link-to}}</li>
      <li>{{#link-to "about.new"}}New about{{/link-to}}</li>
      <li>{{#link-to "analytics"}}Analytics{{/link-to}}</li>
      <li class="divider"></li>
      <li><span {{action 'invalidateSession'}} role="link" tabindex="0">Logout</span></li>
    {{/dropdown-menu}}
  {{/if}}
  <nav role="navigation">
    <div class="inner-nav">
      <li>{{#link-to "posts"}}Blog{{/link-to}}</li>
      <li>{{#link-to "about"}}About{{/link-to}}</li>
      <li>{{#link-to "portfolio"}}Portfolio{{/link-to}}</li>
      <li>{{#link-to "contact"}}Contact{{/link-to}}</li>
    </div>
  </nav>
  {{#unless session.isAuthenticated}}
    <section class="hero">
      <header>
        <h1>Hi, I'm Robert.</h1>
        <p>And I create online awesome.</p>
      </header>
    </section>
  {{/unless}}
  <div class="inner-container">
    {{#each flashMessages.queue as |flash|}}
      {{flash-message flash=flash}}
    {{/each}}
    {{outlet}}
  </div>
  <footer>
    <div class="footer-content">
      <div class="social">
        <li>
          <a href="https://github.com/Robdel12" target="_blank">
            <span class="screen-reader">Visit my github!</span>
            <i class="icon-github4" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/Robdel12" target="_blank">
            <span class="screen-reader">Visit my twitter!</span>
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/Robdel12" target="_blank">
            <span class="screen-reader">Visit my instagram!</span>
            <i class="icon-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </div>
    </div>
  </footer>
</div>
