<h1>Login</h1>
<form {{action "authenticate" on='submit'}}>
  <p>{{input id='identification' placeholder='Email' value=identification}}</p>
  <p>{{input id='password' placeholder='Password' type='password' value=password}}</p>
  <button type="submit" class="btn">Login</button>
</form>
