<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FrontEnd</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/" />

    <link rel="stylesheet" href="ember-assets/vendor-d41d8cd98f00b204e9800998ecf8427e.css">
    <link rel="stylesheet" href="ember-assets/front-end-6d8cdb3ccce48ef355e0f49d27712324.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %></head>
  <body>n    <%= yield %>
    <script>
      window.FrontEndENV = {"environment":"production","baseURL":"/","locationType":"auto","EmberENV":{"FEATURES":{}},"APP":{},"simple-auth":{"authorizer":"simple-auth-authorizer:devise"}};
      window.EmberENV = window.FrontEndENV.EmberENV;
    </script>
    <script src="ember-assets/vendor-191c06bde580b01f851225786c13f70d.js"></script>
    <script src="ember-assets/front-end-b3fa8a8039c1892b0bd3c3db7ef05292.js"></script>
    <script>
      window.FrontEnd = require('front-end/app')['default'].create(FrontEndENV.APP);
    </script>
  </body>
</html>
